/* dancing-script-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/dancing-script-v29-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Elsie';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/elsie-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fredoka-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/fredoka-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

h1, h2, h3 {
      font-family: 'Fredoka';
}

.letter {
   font-family: 'Dancing Script';
}

h1 {
    text-align: center;
    font-size: 3em;
    color:#e18956;
    text-shadow:
        -2px -2px 0 black, /* Top-left */
         1px -1px 0 black, /* Top-right */
        -1px  1px 0 black, /* Bottom-left */
         1px  1px 0 black; /* Bottom-right */
    }

.intro {
  background-color: #f2e9da;
  border-radius: .5em;
  border: 100px;
  box-sizing: border-box;
  border: 4px solid black; 
  padding: 20px;          
  border-radius: 10px;    
 
}

p {
      font-family: 'Elsie'
}

nav {
	justify-content: center;
}

.main {
  height: 400px;
  width: 700px;
  text-align: center;
  margin-top: 50px;
  margin-left: 300px;
  margin-bottom: 50px;
}
/* Navigation */
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 1.4em;
  overflow: hidden;
  background-color: #355a22;
  justify-content: center;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

nav .container2 {
  flex-direction: row;
  justify-content: center;
}

ul li {
  float: left;

}



body{
    margin: 70px;
}

aside {
    background-color:#e18956;
     float: right;
            width: 26%; 
            padding: 20px;
            border: 2px solid #ccc;
            box-sizing: border-box;

}
